<!-- <div class="">
  <app-notification></app-notification>
  <form [formGroup]="loginGroup">
    <label for="">Email
      <input type="email" placeholder="Enter your email" formControlName="email" required />
    </label>
    <label for="">Password
      <input type="password" placeholder="Enter your password" formControlName="password" required />
    </label>
    <button mat-raised-button (click)="login()">Login</button>
  </form>
  <a [routerLink]="['/registration']" class="signup">Sign Up</a>
  <button mat-raised-button (click)="loginWithGoogle()">Login with google</button>
</div> -->

<div class="mat-form">
  <p>Material</p>
  <form class="example-form" [formGroup]="loginGroup">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" [formControl]="passFormControl">
      <mat-error *ngIf="passFormControl.hasError('minlength') && !passFormControl.hasError('required')">
        Please enter a more then 6 characters
      </mat-error>
      <mat-error *ngIf="passFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="login()">Login</button>
  <a mat-button [routerLink]="['/registration']" class="signup">Sign Up</a>
  <button mat-raised-button (click)="loginWithGoogle()">Login with google</button>
</div>
