
<div class="mat-form">
  <div class="mat-form__form-holder">
    <div class="left-holder">
      <div  class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="{{isVisible ? 'text' : 'password'}}" placeholder="Password" [formControl]="passFormControl">
          <mat-icon matSuffix (click)="this.isVisible = !this.isVisible" class="icon-size">{{isVisible ? visibleClass[0] : visibleClass[1]}}</mat-icon>
          <mat-error *ngIf="passFormControl.hasError('minlength') && !passFormControl.hasError('required')">
            Please enter a more then 6 characters
          </mat-error>
          <mat-error *ngIf="passFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="example-form btn-holder">
        <button mat-raised-button (click)="login()" class="example-full-width btn">Login</button>
      </div>

      <div class="example-form">
        <button mat-raised-button (click)="loginWithGoogle()" class="example-full-width btn">G+</button>
      </div>
      <button mat-button class="reset">forgot pass?</button>
    </div>
  </div>
</div>
