<app-navigation></app-navigation>

<div class="control-holder">
  <button class="btn" mat-raised-button (click)="startGame()" [disabled]="disabled">Start</button>
  <button class="btn" mat-raised-button>Stop</button>
  <button class="btn" mat-raised-button (click)="openScores()">Mix</button>
</div>
<div class="container" (mousedown)="mouseDown($event)" (mousemove)="mouseMove($event)" (mouseup)="mouseup($event)">

  <table class="puzzle">
    <thead></thead>
    <tbody>
      <tr *ngFor="let item of puzzleSize; let i = index">
        <td *ngFor="let item of puzzleSize; let j = index" class="puzzle__cell drop-target" data-id="{{i * 3 + j}}"></td>
      </tr>
    </tbody>
  </table>

  <div class="puzzle__piece-holder">
    <div [ngDraggable]="dragable" class="puzzle__piece" *ngFor="let pos of puzzlePosition; let i = index"
         [ngStyle]="{'background-position': pos, 'top.px': 4 * i, 'left.px': 3 * i}" data-id="{{i}}"></div>
  </div>
</div>
