.control-holder {
  display: flex;
  justify-content: center;
  padding: 15px;

  .btn {
    color: white;
    margin-right: 15px;
  }
}

.container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.puzzle {
  width: 400px;
  height: 400px;

  &__cell {
    background-color: #aaa;
  }

  &__piece-holder {
    position: relative;
    width: 400px;
    height: 300px;
    margin-top: 30px;
  }

  &__piece {
    position: absolute;
    width: 130px;
    height: 130px;
    background: url("../../../assets/img/kotel.jpg") no-repeat;
  }
}
