<app-navigation></app-navigation>

<div class="control-holder">
  <button class="btn" mat-raised-button (click)="firstGame ? startGame() : newGame()" [disabled]="disabled">{{firstGame ? 'Start': 'New Game'}}</button>
  <button class="btn" mat-raised-button (click)="mixPieces()">Mix</button>
</div>
<div class="container" (mousedown)="mouseDown($event)" (mousemove)="mouseMove($event)" (mouseup)="mouseup($event)">

  <table class="puzzle">
    <thead></thead>
    <tbody>
      <tr *ngFor="let item of puzzleSize; let i = index">
        <td *ngFor="let item of puzzleSize; let j = index" class="puzzle__cell drop-target" data-id="{{i * 3 + j}}"></td>
      </tr>
    </tbody>
  </table>

  <div class="puzzle__piece-holder">
    <div [ngDraggable]="dragable" class="puzzle__piece" *ngFor="let ts of tileStyles; let i = index"
         [ngStyle]="{'background-position': ts.pos, 'top.px': ts.top, 'left.px': ts.left}" data-id="{{i}}"></div>
  </div>
</div>
