.notification {
  position: relative;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  border-right: 5px;
  width: 50%;
  border-radius: 15px;

  &__wrapper {
    position: absolute;
    top: 20px;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .btn-holder {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
    height: 20px;
  }
}

.is-danger {
  background-color: red;
}
.is-success {
  background-color: green;
}
.is-info {
  background-color: gray;
}
.delete {
  position: relative;
  cursor: pointer;

  &:active {
    transform: scale(.9);
  }

  &__icon {
    position: relative;
    top: 4px;
    left: 0;
  }
}
