.main {
  width: 100%;
  height: 100%;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  position: relative;

  .login-holder {
    position: absolute;
  }

  .signup-holder {
    position: absolute;
  }

  &__toggle-btn-holder {
    position: absolute;
    display: flex;
    height: 30px;
    width: 30px;
    right: 0;
    top: 0;
    background-color: #673ab7;
    z-index: 999;
    cursor: pointer;

    .toggle-btn {
      color: #eee;
      margin: auto;
    }
  }

  &__login-holder {
    width: 300px;
    height: 350px;
    position: relative;
    top: 100px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: height .5s ease-in-out;

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 5px;
      background-color: #673ab7;
      left: 0;
      top: -5px;
    }
  }

  &__reset-pass {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: darken(#e9e9e9, 15%);
  }

  .reset {
    margin: 0 auto;
  }
}
