<div class="mat-form">
  <div class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput #username placeholder="Display name" [formControl]="userNameFormControl">
      <mat-hint align="end">{{username.value.length}} / 50</mat-hint>
      <mat-error *ngIf="userNameFormControl.hasError('maxlength') && !userNameFormControl.hasError('required')">
        Please enter a less then 50 characters
      </mat-error>
      <mat-error *ngIf="userNameFormControl.hasError('minlength') && !userNameFormControl.hasError('required')">
        Please enter a more then 3 characters
      </mat-error>
      <mat-error *ngIf="userNameFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="{{isVisible1 ? 'text' : 'password'}}" placeholder="Password" [formControl]="passFormControl">
      <mat-icon matSuffix (click)="this.isVisible1 = !this.isVisible1" class="icon-size">{{isVisible1 ? visibleClass[0] : visibleClass[1]}}</mat-icon>
      <mat-error *ngIf="passFormControl.hasError('minlength') && !passFormControl.hasError('required')">
        Please enter a more then 6 characters
      </mat-error>
      <mat-error *ngIf="passFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="{{isVisible2 ? 'text' : 'password'}}" placeholder="Confirm password" [formControl]="confPassFormControl">
      <mat-icon matSuffix (click)="this.isVisible2 = !this.isVisible2" class="icon-size">{{isVisible2 ? visibleClass[0] : visibleClass[1]}}</mat-icon>
      <mat-error *ngIf="confPassFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    </mat-form-field>
  </div>
  <div >
    <button class="example-full-width btn" mat-raised-button (click)="signup()">Sign Up</button>
  </div>
</div>
