<nav class="nav">
  <div>
    <div class="user-info nav__user-info" *ngIf="auth.user | async as user; else shouldLogIn">
      <div class="user-info__photo">
        <img *ngIf="user.photoURL" class="user-info__photo" [src]="user.photoURL" alt="photo {{user.displayName}}" />
        <mat-icon class="user-icon" *ngIf="!user.photoURL">perm_identity</mat-icon>
      </div>
      <p class="user-info__name">{{user.displayName}}</p>
    </div>
  </div>
  <a mat-button class="nav__link" (click)="logout()" [routerLink]="['/']">Log out</a>
</nav>

<ng-template #shouldLogIn>
  <div class="nav__loader"></div>
</ng-template>
