.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #673ab7;
  border-bottom: 3px solid rgba(255,255,255, .3);
  font-family: "Arial Black";

  .user-icon {
    font-size: 50px;
  }

  &__user-info {
    margin-right: 30px;
  }

  .user-info {
    display: flex;
    color: white;
    padding: 0 20px;

    &__name {

    }

    &__photo {
      width: 50px;
      height: 50px;
      border: 1px solid rgba(0,0,0, .3);
      border-radius: 50%;
      margin-right: 30px;
    }
  }

  &__link {
    color: #fff;
    display: flex;
    font-family: "Arial Black";
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    transition: all .4s ease-in-out;
  }

  &__loader {
    border-radius: 50%;
    border: 3px solid #fff;
    border-bottom: 0;
    border-left: 0;
    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-left: 40px;
    width: 30px;
    height: 30px;
  }
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
